*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-family: "Calibri", seref;
	background: rgb(248,240,223);
}

form input{
	background: rgb(248,240,223);
}

.header{
	padding: 10px;
	border: 10px solid rgb(121,180,183);
	text-align: center;
	font-size: 15px;
	background: rgb(121,180,183);
}

.aside{
	width: 20%;
	height: 88vh;
	background: rgb(121,180,183);
	float: left;
	border: 10px solid rgb(248,240,223);
	color: rgb(248,240,223);
	text-align: center;
}

.aside li a{
	display: block;
	text-decoration: none;
	color: rgb(248,240,223);
	list-style: none;
	font-size: 20px;
	padding: 20px;
	border-top: 2px solid rgb(248,240,223);
	border-bottom: 2px solid rgb(248,240,223);
}


.container{
	width: 80%;
	height: 35vh;
	float: right;
	border: rgb(121,180,183) solid 10px;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
}

#Boton{
	position: center;
	top: 60px;
	left: 100px;
	background: rgb(121,180,183);
	color: rgb(248,240,223);
	height: 45px;
	width: 100px;
	border-radius: 9px;
	cursor: pointer;
}

.form{
	margin: 10px;
}

.container-tabla{
	width: 88%;
	height: 50vh;
	float: right;
	/*border: rgb(121,180,183) solid 10 px;*/
	margin-top: 10px;
	padding: 10px;
	text-align: center;
}

.table{
	width: 100%;
	border: 2px solid black;
	border-collapse: separate;
	border-spacing: 10px;
}


